@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;900&display=swap');

body {
  background-color: #CFCAC6;
}

.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.boxlogin {
  justify-content: center;
  background: #E0E0E0;
  border: 1px solid #A5A5A5;
  box-sizing: border-box;
  border-radius: 6px;
  width: 380px;
  height: 425px;
}

.logo {
  display: flex;
  justify-content: center;
}

.icon {
  left: 53px;
  top: 0px;
  margin-right: 15px;
}

.access {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.input {
  background: #FFFFFF;
  border: 1px solid #A5A5A5;
  box-sizing: border-box;
  border-radius: 6px;
  width: 305px;
  height: 47px;
  margin-top: 10px;
  padding-left: 15px;
  font-size: 18px;
  color: #484848;
}

input:focus {
  border: 1px solid #3EA818;
  outline: 0;
}

.btn {
  width: 305px;
  height: 47px;
  background: #3EA818;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  border: 0;
  margin-top: 10px;
}

.btn:disabled {
  background: #CCCCCC;
}

.btn:focus {
  outline: 0;
}

.container-table {
  display: flex;
  justify-content: center;
  background-color: #17100a;
  color: white;
}

table {
  width: 100%;
}

tr {
  display: flex;
  /* border: 1px solid #A5A5A5; */
  font-size: 14px;
  display: flex;
  /* justify-content: space-between; */
  text-align: center;
  align-items: center;
  width: 100%;
  height: 40px;
}

tr:nth-child(odd) {
  background-color: #88786a;
  color: black;
}

tr:nth-child(even) {
  background-color: #c5b5a9;
  color: black;
}

th {
  border-right: 1px solid #3e3e3e;
  width: 100%;
  padding: 10px;
  height: 20px;
  background-color: #17100a;
  color: white;
}

td {
  width: 100%;
  padding: 10px;
}

.btn-table {
  margin: 0 10px;
  border-radius: 6px;
  border: 0;
  padding: 5px 10px;
}

.btn-edit {
  background-color: #22ABC9;
}

.btn-eraser {
  background-color: #960505;
}

.container-footer {
  background-color: #302d29;
  height: 50px;
}

.footer-text {
  text-align: center;
  padding: 15px 0;
}
