.container-wallet {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #CFCAC6;
}

.email {
  text-align: right;
  font-size: 18px;
  font-weight: 900;
  color: #3c3c3c;
  padding: 6px 10px;
}

.total {
  text-align: right;
  font-size: 20px;
  font-weight: 900;
  color: #007bff;
  padding: 6px 10px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #414141;
  color: white;
}

main {
  background-color: #CFCAC6;
}

footer {
  background-color: #414141;
  color: white;
}

.logo-wallet {
  width: 150px;
  height: 75px;
  left: 53px;
  top: 0px;
  margin-right: 15px;
}
